{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-4;">
  <h2 class="text-center mb-4;" style="font-size: 40px">Habitaciones disponibles</h2>


  {% if habitaciones %}
    {% for habitacion in habitaciones %}
      <div class="card mb-4 shadow-sm p-1">
        <div class="d-flex align-items-stretch">
          <!-- Imagen a la izquierda -->
          <div style="flex: 1; max-width: 45%;">
            {% if habitacion.tipo.imagen %}
              <img src="{{ habitacion.tipo.imagen.url }}" 
                   alt="Imagen de {{ habitacion.tipo.nombre }}" 
                   class="img-fluid w-100 h-100" 
                   style="object-fit: cover; border-radius: 8px;">
            {% else %}
              {% if habitacion.tipo.nombre|lower == "doble" %}
                <img src="/media/habitaciones/hab_doble.jpg" 
                     alt="Habitación doble" 
                     class="img-fluid w-100 h-100" 
                     style="object-fit: cover; border-radius: 8px;">
              {% else %}
                <img src="/media/habitaciones/hab_indi.jpg" 
                     alt="Habitación individual" 
                     class="img-fluid w-100 h-100" 
                     style="object-fit: cover; border-radius: 8px;">
              {% endif %}
            {% endif %}
          </div>

          <!-- Texto a la derecha -->
          <div class="p-3 d-flex flex-column justify-content-center" style="flex: 1;font-size: 30px;">
            <h4 class="fw-bold" style= "font-size: 30px">{{ habitacion }}</h4>
            <p><strong>Tipo:</strong> {{ habitacion.tipo.nombre }}</p>
            <p><strong>Precio por noche:</strong> ${{ habitacion.tipo.precio_por_noche }}</p>
            {% if habitacion.tipo.capacidad %}
              <p><strong>Capacidad:</strong> {{ habitacion.tipo.capacidad }} personas</p>
            {% endif %}
            {% if habitacion.descripcion %}
              <p>{{ habitacion.descripcion }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p class="text-center">No hay habitaciones disponibles para las fechas seleccionadas.</p>
  {% endif %}
</div>

{% endblock %}
